{%extends 'dummy.html' %}

    {% block title %}
    <title>List of Animals</title>
    {% endblock %}
    

{% block body_block %}


<style>
    .card {
        display: inline-block;
        width: 18rem;
        margin-right: 10px;
    }

    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    body
    {
        background-image: url('https://as2.ftcdn.net/v2/jpg/02/71/22/77/1000_F_271227781_gt3nHI7H3CgUENSbM3V14x2QhPB04Glb.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<br> <br>

    {% for i in data %}
    <div class="card" style="width: 18rem;">
        <img src="{{i.images}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="{{i.name}}">{{i.name}}</a></h5>
          <p class="card-text">{{i.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
      {% endfor %}



    {% endblock %}